@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #1A1A1A;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: #1A1A1A;
    border:1.5px solid #F03333;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

header a{
    text-decoration: none;
    color: #323232;
}
#logo{
    height: 150px; 
    margin-left: 30px;
    
}
#logo img{
    height: 100%;
}
.navUl{
    list-style: none; 
    display: flex;
    gap: 20px; 
    justify-content: space-evenly;
    width: 400px;
}

.nav-link {
    text-decoration: none; 
    color: white; 
   
}
.connect_with_me-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    color: white;
    height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    background-color: #1A1A1A;
    margin-top: 0px;
    margin-bottom: 0px;
    border:1.5px solid #F03333;
}

.connect_with_me-image-container{
    background-image: url("../images/wallpaper.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 500px; 
    margin:auto;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    border:1.5px solid #F03333;
    z-index: 1;
}

.form-section {
    border: 1.5px solid #F03333;
    padding: 2rem;
    background: white; 
    max-width: 800px; 
    margin: 2rem auto; 
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
    margin-bottom: 60px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    flex-basis: 48%; 
}

.input-field {
    width: 100%; 
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd; 
    border-radius: 4px; 
}

label {
    display: block; 
    color: #333; 
}

legend {
    color: #333; 
    margin-bottom: 0.5rem; 
}

input[type=checkbox] {
    margin-right: 0.5rem; 
}

.select {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-btn {
    padding: 1rem 2rem; 
    background: rgba(253, 0, 0, 0.7);
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 1rem;
    margin-top: 1rem; 
    font-family: "Montserrat", sans-serif;
}

.submit-btn:hover {
    background: rgba(253, 0, 0, 0.9); 
}

footer {
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 1.9rem;
    border-top: 1.5px solid #F03333;
    padding: 32px 0;
}

footer i {
    font-size: 45px;
    color: white;
    margin: 20px;
}

footer i:hover {
    font-size: 3.3rem;
    color: #F03333 ;
}
.socialmedia-icons {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}