body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 5px 10px;
    z-index: 99;
}

header a {
    text-decoration: none;
    color: #323232;
}
#logo{
    height: 150px; 
}
#logo img{
    height: 100%;
}
.navbar-nav {
    list-style-type: none; /* Remove bullet points */
    display: flex;
    gap: 20px; /* Add space between navigation items */
}

.nav-link {
    text-decoration: none; /* Remove underline */
    color: white; /* Set text color */
    /* Add more styles for hover, focus, etc. */
}
#menu-toggle {
    display: none;
}
/* Menu icon styles */
#menu-label {
    display: none; /* Hide initially or show based on media query for responsiveness */
    cursor: pointer;
    font-size: 45px;
    align-self: flex-start;
    padding-top: 3px;
    padding-right: 7px;
}

.hero-text {
    background-image: url("./../images/heroimage.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
   


}