@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #1A1A1A;
}

.navBar {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #1A1A1A;
    border-bottom: 3px solid #F03333;
    border-top: 1.5px solid #F03333;
    font-family: "Montserrat", sans-serif;
    padding-right: 30px;
}

#logo {
   
    display: flex;
    align-items: center;
    padding: 6px;
}

#logo img {
    height: 100px;
}

.navUl {
    list-style: none;
    display: flex;
    gap: 20px; 
    margin-left: auto;
    padding-right: 20px;
}

.navUl li {
    padding: 1rem 3rem; 
    background-color: #F03333; ;
    color: white; 
    border: none; 
    cursor: pointer; 
    font-size: 22px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  
    
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px 15px; 
    border: 1px solid transparent; 
}

.nav-link:hover {
    background: rgba(253, 0, 0, 1); 
}

/* THANK YOU CONTAINER */
.trainer-image-container{
    background-image: url("/assets/images/thankyou.jpg");
    display: flex;
    justify-content: right;
    background-size: 100% 100%;
    height: 500px;
    width: 250px;
    border:1.5px solid #F03333;
    z-index: -1;
}

.thank-you-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border:1.5px solid #F03333;
    width: 100%;
    height: 500px;
    margin-top: 200px;
    margin-bottom: 45px;
}

.thank-you-h1 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    color: white;
    height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    background: color 0;
    /* border:1.5px solid #F03333;  */
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 100px;
}
.thank-you-message{
    display: flex;
    color: white;
    justify-content: left;
    align-items: center;
    /* border:1.5px solid #F03333;  */
    width: 25%;
    height: 200px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    width: 50%;
    text-align: left;
    margin-top: 150px;
    margin-left: 25px;
    
}

/* Footer */

footer {
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 1.9rem;
    border-top: 1.5px solid #F03333;
    padding: 10px 0;
}

footer i {
    font-size: 45px;
    color: white;
    margin: 20px;
}

footer i:hover {
    font-size: 3.3rem;
    color: #F03333 ;
}
.socialmedia-icons{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}
