@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #1A1A1A;
}

.navBar{
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: #1A1A1A;
    border:1.5px solid #F03333;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
#logo{
    height: 150px; 
    margin-left: 30px;
    
}
#logo img{
    height: 100%;
}
.navUl{
    list-style: none; /* Remove bullet points */
    display: flex;
    gap: 20px; /* Add space between navigation items */
    justify-content: space-evenly;
    width: 400px;
    
}
.navUl ul{
    display: flex;
    justify-content: flex-end;

}

.nav-link {
    text-decoration: none; 
    color: white; 
   
}
.trainer-image-container{
    background-image: url("../images/personaltraining.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 50%; 
    height: 900px; 
    margin:auto;
    margin-top: 0px;
    margin-bottom: 150px;
    display: flex;
    border:1.5px solid #F03333;
    z-index: 1;
   
}
/* H1 */

.train-with-me-h1 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0;
    color: white;
    height: 200px;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    background-color: #1A1A1A;
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 25%;
    margin-right: 25%;

    
}
/* Types of Training */

.private-training, .boot-camp, .workout-online{
    padding: 10px;
    text-align: justify;
    margin: 0 0 0 10px;
    border:1.5px solid #F03333;
    height: 500px;
}
.calisthenics, .bodyweight, .mobility{
    padding: 10px 10px 10px 20px;
    font-size: 22px;
    background-color: #1A1A1A;
    color:rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    flex-basis: 350px;
    flex-grow: 2;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1.5px solid #F03333 !important;
}

.service-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:1.5px solid #F03333;
}
.calisthenics, .bodyweight, .mobility{
    text-align: left;
    position: relative;
    padding-bottom: 60px;
}

.article {
    position: relative;
    padding-bottom: 60px; 
}


/* button */

.connect-btn {
    display: inline-block; 
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    background-color: #F03333; 
    color: white;
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 16px;
    font-weight: bold;
}

.connect-btn:hover {
    background: rgba(253, 0, 0, 0.9); 
}




footer {
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 1.9rem;
    border-top: 1.5px solid #F03333;
    padding: 10px 0;
    
}

footer i {
    font-size: 45px;
    color: white;
    margin: 20px;
}

footer i:hover {
    font-size: 3.3rem;
    color: #F03333 ;
}
.socialmedia-icons{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}
