@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #1A1A1A;
}

.navBar{
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: #1A1A1A;
    border:1.5px solid #F03333;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}